@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif; 
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
}

.App {
  position: relative;
  text-align: center;
}

h1 { margin: 0; }

img { object-fit: cover; }

input, textarea { 
  text-indent: 0.75rem;
  min-height: 7.5vh;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.25rem;
}

:focus {
  box-shadow: 0 0 3px gray;
}

::placeholder { color: rgb(180, 180, 180); }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}





