.combobox-input-wrapper {
    padding: 1vh 0 0 0;
    align-items: flex-start;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 3px rgb(180, 180, 180);
    border-radius: 0.125rem;
    overflow-x: hidden;
}

.combobox-input-wrapper > span {
    margin-left: 2%;
    font-weight: bold;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    color: gray;
}

.combobox-input {
    text-align: left;
    font-size: clamp(1rem, 1.75vw, 1.75rem);
    color: rgb(53, 53, 53);
    border: 0;
    width: 100%;
}

.combobox-input:focus {
    font-size: clamp(1.5rem, 2vw, 2rem);
    box-shadow: none;
}

.input-wrapper {
    justify-content: space-between;
    width: 100%;
}

.input-icon { margin-right: 3%; }

.input-icon * {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: gray;
}

.combobox-list { position: relative; background: white; box-shadow: 0 3px 3px; z-index: 2; }

.combobox-option { color: rgb(180, 180, 180); width: 100%; }

.combobox-option-description {
    padding: 0.5vh 1vw 0 1vw;
    column-gap: 2vw;
    width: 100%;
    min-height: 10vh;
    color: grey;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.combobox-option-description:hover { font-weight: bold; background: gold; color: black; }

.combobox-option-description > span:first-child { margin-right: 0.5vw; }

.option-icon { margin-left: auto; }

.option-icon * {
    transform: translateY(7.5%);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
