.date-pickers {
    grid-column: 1 / 3;
    grid-template-columns: 47.5% 47.5%;
    row-gap: 4vh;
    column-gap: 2vw;
    justify-content: space-between;
    width: 100%;
}

.date-picker-wrapper {
    padding: 1vh 0 0 0;
    align-items: flex-start;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background: white;
    box-shadow: 0 0 3px rgb(180, 180, 180);
    border-radius: 0.125rem;
}

.date-picker-wrapper > span {
    margin-left: 2%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    color: gray;
}

.date-picker { width: 100%; }

.date-picker * { 
    font-weight: 700 !important; 
    font-size: clamp(0.875rem, 1.5vw, 1.5rem) !important; 
    border: 0 !important; 
    box-shadow: none !important; 
    outline: 0 !important; 
}

.MuiSvgIcon-root { 
    font-size: clamp(1.5rem, 2vw, 2rem) !important; 
}

@media (max-width: 25rem) {
    .date-pickers { grid-column: 1 / 2; grid-template-columns: 100%; row-gap: 1vh; }
}
