.flight-segment { text-align: center; font-style: oblique; color: grey; width: 100%; }
.flight-segment > div { column-gap: 0.25vw; }
.flight-segment > div > span { font-weight: bold; }
.carrier-name { font-weight: 500; }

.flight-segment * { font-size: clamp(0.875rem, 1vw, 1rem); }
.flight-segment .icon { 
    margin-right: 0.25vw;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem); 
    color: rgb(153, 153, 153); 
}
