.flight-detail {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3vh 2vw 5vh 2vw;
    height: 100vh;
    width: 50%;
    background: white;
    transform: translateX(105%);
    transition: all 0.4s;
    box-shadow: 0 3px 10px rgb(180, 180, 180);
    z-index: 3;
    border-radius: 0.5rem 0 0 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.flight-detail > .icon {
    float: left;
    font-size: clamp(1.75rem, 2.5vw, 2.5rem);
    color: rgb(224, 224, 224);
    transition: all 0.7s;
}
.flight-detail > .icon:hover { color: rgb(180, 180, 180); transform: rotate(90Deg); }

.flight-detail.show { transform: translateX(0%); }

.flight-detail > h1 {
    flex-wrap: wrap;
    justify-content: center;
    margin: 7vh 0 8vh 0;
    column-gap: 1vw;
    font-size: clamp(1.125rem, 3vw, 2rem);
    text-transform: uppercase;
    color: orangered;
}
.flight-detail > h1 > .icon { font-size: clamp(1.5rem, 2.75vw, 2.75rem); }

.flight-detail-segment {
    position: relative; 
    margin-bottom: 4vh;
    padding: 3vh 1vw; 
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid rgb(223, 223, 223);
    width: 100%;
}
.flight-detail-segment > label {
    padding: 0 0.25vw;
    position: absolute;
    inset: 0 auto auto 0;
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(180, 180, 180);
    background: white;
    transform: translate3d(15%, -50%, 0);
}

.purchase-link > span { cursor: pointer; font-size: clamp(0.75rem, 1vw, 1.125rem); color: orangered; }
.purchase-link > span:hover { text-decoration: underline; }

.close-btn {
    margin: 10vh auto 0 auto;
    padding: 2vh 2vw;
    justify-content: center;
    column-gap: 0.5vw;
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
    font-weight: bold;
    width: 80%;
    color: white;
    background: black;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px gray;
}
.close-btn:hover { box-shadow: 10px 10px 10px gray; }
.close-btn .icon { font-size: clamp(1.25rem, 1.75vw, 1.75rem); }

.depart-detail, .return-detail { flex-direction: column; row-gap: 1vh;  }

@media (max-width: 50rem) {
    .flight-detail { width: 85%; }
    .flight-detail > h1 { margin: 4vh 0 5vh 0; }
}

@media (max-width: 25rem) {
    .flight-detail { padding: 1vh 2vw; width: 100%; border-top: 1px dashed rgb(226, 226, 226); }
    .flight-detail-segment > label { margin-bottom: 1vh; } 
    .purchase-link > span { margin-bottom: 3vh; }
    .depart-detail, .return-detail { width: 97.5%; }
}