.flight-detail {
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3vh 2vw 5vh 2vw;
    height: 100vh;
    width: 50%;
    background: white;
    transform: translateX(105%);
    transition: all 0.4s;
    box-shadow: 0 3px 10px rgb(180, 180, 180);
    z-index: 3;
    border-radius: 0.5rem 0 0 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.flight-detail.show { transform: translateX(0%); }

.flight-detail > label {
    text-align: left;
    margin: 2vh 0 5vh 0;
    font-size: clamp(1.5rem, 2vw, 2rem);
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    color: rgb(180, 180, 180);
}

.flight-detail-segment {
    position: relative; 
    margin-bottom: 4vh;
    padding: 3vh 1vw; 
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid rgb(245, 245, 245);
    width: 100%;
}
.flight-detail-segment > label {
    padding: 0 0.25vw;
    position: absolute;
    inset: 0 auto auto 0;
    font-size: clamp(0.75rem, 1vw, 1rem);
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    background: white;
    transform: translate3d(0, -50%, 0);
}
.flight-detail-segment > div { width: 100%; }

.purchase-link > span { cursor: pointer; font-size: clamp(0.75rem, 0.875vw, 0.875rem); color: tomato; }
.purchase-link > span:hover { text-decoration: underline; }

.close-btn {
    margin: 2.5vh auto 0 auto;
    padding: 2vh 2vw;
    justify-content: center;
    column-gap: 0.5vw;
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
    width: 80%;
    color: white;
    background: black;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px gray;
}
.close-btn:hover { box-shadow: 10px 10px 10px gray; }
.close-btn .icon { font-size: clamp(1.25rem, 1.75vw, 1.5rem); }

.depart-detail, .return-detail { flex-direction: column; row-gap: 1vh;  }

@media (max-width: 50rem) {
    .flight-detail { width: 85%; }
    .flight-detail > h1 { margin: 4vh 0 5vh 0; }
}

@media (max-width: 25rem) {
    .flight-detail { padding: 1vh 2vw; width: 100%; border-top: 1px dashed rgb(226, 226, 226); }
    .flight-detail-segment > label { margin-bottom: 1vh; } 
    .purchase-link > span { margin-bottom: 3vh; }
    .depart-detail, .return-detail { width: 97.5%; }
    .close-btn { margin: 0 auto; }
}