.footer {
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 30vh;
    width: 100%;
    color: white;
    background: rgb(34, 34, 34);
    box-shadow: 0 -2px 2px black;
}

.footer-logo, .footer-contact { 
    padding: 2vh 2vw 4vh 2vw; 
    column-gap: 1vw; 
    flex-direction: column;
    justify-content: center; 
    height: 100%; 
    border-right: 2px solid rgb(78, 78, 78); 
}

.footer-logo > h1, .contact-list > h1 {
    column-gap: 1vw;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 50%;
}

.footer-logo .icon { font-size: clamp(2rem, 3vw, 3rem); }
.footer-logo > p { text-align: left; font-size: clamp(0.75rem, 1vw, 1rem); width: 50%; }

.footer-contact { border-right: 0; }

.contact-list { flex-direction: column; align-items: flex-start; row-gap: 1vh; width: 90%; overflow: hidden; }
.contact-list > h1 { text-align: left; margin: 0 0 1vh 0; }
.contact-list > span { 
    grid-template-columns: auto auto; 
    column-gap: 2vw;
    align-items: flex-start; 
    justify-content: flex-start; 
    width: 100%; 
}
.contact-list > span > span { font-size: clamp(0.75rem, 1vw, 1rem); }
.contact-list > span > .icon { font-size: clamp(1.25rem, 1.75vw, 1.75rem); }

.linkedin:hover > span { text-decoration: underline; }

@media (max-width: 50rem) {
    .footer { grid-template-columns: 100%; }
    .footer-logo { padding: 5vh 2vw; flex-wrap: wrap; border-right: 0; border-bottom: 2px solid rgb(78, 78, 78); }
    .footer-logo > p { width: 75%; }
    .footer-logo > h1, .contact-list > h1 { margin-bottom: 1vh; width: 75%;}
    .contact-list > span { width: 75%; column-gap: 5vw; }
}
