.main-header-banner { 
    position: sticky;
    top: 0;
    left: 0;
    height: 50vh; 
    width: 100%; 
    z-index: 2;
    box-shadow: 0 5px 5px rgb(46, 46, 46);
}

.main-header-banner > img {
    height: 100%;
    width: 100%;
}

.main-header-overlay {
    padding: 1vh 8vw 0.5vh 8vw;
    position: absolute;
    inset: 0 auto auto 0;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 1vw;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(34, 34, 34, 0.8) 15%, transparent);
    z-index: 3;
}

.main-header-overlay-wrapper {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1vh;
    height: 45%;
    width: 100%;
}

.main-header-overlay-wrapper > h1 {
    font-weight: bold;
    color: white;
}

.main-header-overlay-wrapper > h1 > span:first-child {
    font-size: clamp(1.125rem, 5vw, 3rem);
    color: gold;
}

.main-header-overlay-wrapper > h1 > span:last-child {
    font-size: clamp(1.125rem, 4vw, 2.5rem);
}

.main-header-overlay-wrapper > img {
    position: absolute;
    inset: 0 0 auto auto;
    padding: 0.5vh;
    height: 100%;
    aspect-ratio: 1 / 1;
    transform: translateY(-2.5%);
    border: 3px solid gold;
    border-radius: 15rem;
    box-shadow: 0 0 3px;
}

.main-header-banner-links {
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 4vw;
    row-gap: 2vh;
    width: 100%;
    z-index: 3;
}

.main-header-banner-links a { text-decoration: none; }

.main-header-banner-link {
    padding: 1vh 2vw 0.75vh 2vw;
    column-gap: 0.5vw;
    font-weight: bold;
    color: white;
    border: 2px solid;
    opacity: 0.7;
}

.main-header-banner-link > span {
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
}

.main-header-banner-link > .icon {
    font-size: clamp(1.5rem, 1.75vw, 1.75rem);
    transform: translateY(-12.5%);
}

.main-header-banner-link:hover { 
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 50rem) {
    .main-header-overlay-wrapper > img { height: 75%; }
}

@media (max-width: 35rem) {
    .main-header-overlay-wrapper > img { display: none; }
}

@media (max-width: 25rem) {
    .main-header-banner { height: 25vh; }
    .main-header-overlay { align-items: center; }
    .main-header-overlay-wrapper { height: 100%; }
}
