.load-screen {
    position: fixed;
    inset: 0 auto auto 0;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    background: royalblue;
    z-index: 5;
    animation: slideUp 0.75s 3s forwards;
}

.load-screen > span:nth-child(1) {
    opacity: 0;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    letter-spacing: 2px;
    animation: fadeIn 1s forwards;
}

.load-screen > span:nth-child(2) {
    opacity: 0;
    font-size: clamp(1.25rem, 1.75vw, 1.75rem);
    font-weight: 500;
    letter-spacing: 1px;
    animation: fadeIn 1s 1s forwards;
}

.load-screen > img {
    opacity: 0;
    position: absolute;
    inset: 50% 0 0 50%;
    height: 33%;
    transform: translate3d(15%, -10%, 0);
    aspect-ratio: 1/1;
    z-index: -1;
    animation: fadeIn 1s 1s forwards;
}

@media (max-width: 50rem) {
    .load-screen > img { transform: translate3d(0, -20%, 0); }
}
@media (max-width: 25rem) {
    .load-screen { row-gap: 2vh; }
    .load-screen > img { transform: translate3d(15%, -10%, 0); }
}

