.main {
    padding-bottom: 20vh;
    flex-direction: column;
    justify-content: center;
}

.main-header { height: min(40vh, 15rem); width: 100%; }

.main-header > img {
    height: 100%;
    width: 100%;
}

.search-button { margin-top: 3vh; }
