.main { position: relative; padding-bottom: 10vh; background: rgb(245, 245, 245); }

.flight-search {
    padding-top: 2vh;
    grid-template-columns: minmax(17.5vw, 1fr) 4fr;
}

.autocomplete-form {
    position: relative;
    margin: 0 auto;
    padding: 2vh 1vw;
    grid-template-columns: 50% 50%;
    row-gap: 1vh;
    height: fit-content;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.place-autocomplete-inputs {
    grid-column: 1 / 3;
    position: relative;
    justify-content: space-between;
    row-gap: 1vh;
    height: fit-content;
    width: 100%;
}

.place-autocomplete-inputs > .icon-wrapper {
    padding: 1.25vh;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate3d(-50%, -50%, 0);
    background: black;
    border: 5px solid rgb(245, 245, 245);
    border-radius: 3rem;
}

.place-autocomplete-inputs > .icon-wrapper > .icon {
    font-size: clamp(1.25rem, 2vw, 2rem);
    color: white;
}

.search-button {
    grid-column: 1 / 3;
    text-align: center;
    margin: 2vh 0; 
    padding: min(5vh, 2rem) 1vw;
    min-height: 10vh;
    color: white;
    background: black;
    border-radius: 3rem;
    border: 0;
    box-shadow: 1px 1px 3px gray;
    transition: all 0.3s ease-in; 
}
.search-button.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.search-button > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.5s; 
    font-size: clamp(0.75rem, 1.25vw, 1rem); 
}

.search-button > span:after {
    content: '\00bb';
    position: absolute;
    font-size: clamp(1.5rem, 2vw, 2rem);
    opacity: 0;
    top: 40%;
    right: -20px;
    transform: translateY(-50%);
    transition: 0.1s;
}
  
.search-button:hover > span { padding-right: 25px; }
  
.search-button:hover > span:after { opacity: 1; right: 0; }

.important-notice {
    grid-column: 1 / 3;
    margin: 1vh auto;
    color: rgb(160, 160, 160);
    font-size: clamp(0.75rem, 1vw, 1rem);
    width: 80%;
}

.important-notice > span { display: none; font-weight: bold; color: rgb(99, 99, 99); }

.request-status {
    margin: 15vh auto;
    grid-column: 1 / 3;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1vh;
    column-gap: 1vw;
    width: 100%;
    color: rgb(100, 100, 100);
}
.request-status > span { font-size: clamp(0.875rem, 2.5vw, 1.5rem); }
.request-status > .icon {
    margin-bottom: auto;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: rgb(100, 100, 100);
}

@media (max-width: 50rem) {
    .autocomplete-form { grid-column: 1 / 3; }
    .important-notice { margin: 3vh auto 2vh auto; }
    .request-status {margin: 10vh auto;}
}

@media (max-width: 25rem) {
    .autocomplete-form { padding: 1vh 2vw; grid-template-columns: 100%; width: 100%; row-gap: 2vh; }
    .place-autocomplete-inputs { 
        grid-template-columns: 100%;  
        grid-column: 1 / 2; 
        flex-direction: column; 
        padding: 1.5vh 1vh; 
        background: rgb(235, 235, 235); 
        border-radius: 0.5rem; 
    }
    .search-button { grid-column: 1 / 2; }
    .important-notice { margin: 0 auto; width: 97.5%; }
    .request-status {margin: 5vh auto;}
}
