.combobox { width: 49.5%; }

.combobox-input-wrapper {
    padding: 2vh 0.5vw;
    align-items: flex-start;
    flex-direction: column;
    background: white;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 1rem;
    overflow-x: hidden;
}

.combobox-input-wrapper > span {
    margin-left: 2%;
    font-weight: 500;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    color: grey;
}

.combobox-input {
    text-align: left;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: rgb(53, 53, 53);
    border: 0;
    width: 100%;
}

.combobox-input:focus { font-size: clamp(1.25rem, 2vw, 2rem); box-shadow: none; }

.input-wrapper { justify-content: space-between; width: 100%; }

.input-icon { margin-right: 3%; }
.input-icon * { font-size: clamp(1.5rem, 2vw, 2rem); color: grey; }

.combobox-list { position: relative; background: white; box-shadow: 0 3px 3px; z-index: 2; }
.combobox-option { color: rgb(180, 180, 180); width: 100%; }

.combobox-option-description {
    padding: 0.5vh 1vw 0 1vw;
    column-gap: 2vw;
    width: 100%;
    min-height: 10vh;
    color: grey;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.combobox-option-description:hover { font-weight: 500; background: royalblue; color: white; }
.combobox-option-description > span:first-child { margin-right: 0.5vw; }

.option-icon { margin-left: auto; }
.option-icon * { transform: translateY(7.5%); font-size: clamp(1rem, 1.5vw, 1.5rem); }

@media (max-width: 25rem) {
    .combobox { width: 100%; }
    .combobox-input-wrapper { padding: 1vh 0; border-radius: 0; }
}
