.tour-container {
    justify-content: flex-start;
    flex-direction: column;
    min-height: 75vh;
    width: 100%;
}

.tour-banner { position: relative; padding: 10vh 2vw; width: 100%; }
.tour-banner-image {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    object-position: center;
}
.tour-banner-overlay {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 20%, black);
    z-index: 1;
}

.tour-search {
    position: relative;
    row-gap: 1vh;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.tour-search > input {
    margin-bottom: 2vh;
    width: 75%;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 3rem;
}
.tour-search > input::placeholder { font-weight: 700; color: white; }

.tour-header { flex-direction: column; row-gap: 2vh; width: 75%; color: white; }
.tour-header > h1 { font-size: clamp(1.5rem, 2.5vw, 2.5rem); font-weight: bolder; }
.tour-header > span { font-weight: 500; }

.tour-results-label { margin-top: 10vh; margin-bottom: 7.5vh; font-weight: bolder; }
.tour-results-label > span { font-size: clamp(1.375rem, 2vw, 2rem); color: gray; }

.tour-list {
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;
    min-height: 30vh;
    row-gap: 2vh;
}

.tour-place { flex-direction: column; height: 33vh; width: 100%; border-radius: 0.5rem; box-shadow: 10px 10px 10px grey; overflow: hidden; }
.tour-place > img { height: 80%; width: 100%; border-radius: 0.5rem 0.5rem 0 0; transition: all 0.3s; }
.tour-place > img:hover { height: 100%; transform: scale(1.25); }
.tour-place-footer { justify-content: center; column-gap: 0.5vw; color: tomato; height: 100%; width: 90%; }
.tour-place-footer > h1 { text-align: left; font-size: clamp(0.875rem, 1.25vw, 1.25rem); }
.tour-place-footer > .icon-wrapper { margin: auto 0; justify-content: center; }
.tour-place-footer > .icon-wrapper > .icon { font-size: clamp(1rem, 1.5vw, 1.5rem); }

.tour-list-empty { font-weight: 500; }

@media (max-width: 50rem) {
    .tour-list { grid-template-columns: 30% 30% 30%; }
}

@media (max-width: 35rem) {
    .tour-list { grid-template-columns: 45% 45%; }
    .tour-place > img:hover { transform: scale(1.25); }
}

@media (max-width: 25rem) {
    .tour-container { padding: 0; }
    .tour-banner { position: relative; padding: 5vh 1vw; } 
    .tour-search > input { width:97.5%; } 
    .tour-header { width: 97.5%; }
    .tour-results-label { margin-top: 5vh; margin-bottom: 5vh; }
    .tour-list { grid-template-columns: 100%; padding: 0 2vw; }
    .tour-place > img { height: 75%;  border-radius: 0; }
}